nav a {
	width: 28%;
	float: left;
	text-align: center;
	line-height: 50px;
	color: red;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 20px;
    display: block;
    border: none;
}
.nav{
	position: absolute;
	width: 100%;
    margin-left: 15.5%;
    margin-top: 2%;
}
.sidebar{
    margin-left: -1%;
	width: 16%;
	height: 888px;
	position: absolute;
    border: 1px solid #000;
    border-top: none;
    background-color: #FFFFCC;
}
.sidebar ul li a{
    text-decoration: none;
}
.main{
	position: absolute;
	height: 825px;
    width: 76%;
    float: right;
    margin-left: 20%;
    margin-top: 6%;
    border: 1px solid #000;
    border-radius: 10px;
    padding-left: 2%;
}
.main h1{
    font-family: monospace;
    font-size: 75px;
    margin-left: 15%;
    margin-top: 15%;
}
.main2{
	position: absolute;
	height: 1100px;
    width: 76%;
    float: right;
    margin-left: 20%;
    margin-top: 6%;
    border: 1px solid #000;
    border-radius: 10px;
    padding-left: 2%;
}
.main2 h1{
    font-family: monospace;
    font-size: 75px;
    margin-left: 15%;
    margin-top: 15%;
}
.main3{
	position: absolute;
	height: 1150px;
    width: 76%;
    float: right;
    margin-left: 20%;
    margin-top: 6%;
    border: 1px solid #000;
    border-radius: 10px;
    padding-left: 2%;
}
.main3 h1{
    font-family: monospace;
    font-size: 75px;
    margin-left: 15%;
    margin-top: 15%;
}
.main4{
	position: absolute;
	height: 1500px;
    width: 76%;
    float: right;
    margin-left: 20%;
    margin-top: 6%;
    border: 1px solid #000;
    border-radius: 10px;
    padding-left: 2%;
}
.main4 h1{
    font-family: monospace;
    font-size: 75px;
    margin-left: 15%;
    margin-top: 15%;
}
.main5{
	position: absolute;
	height: 550px;
    width: 76%;
    float: right;
    margin-left: 20%;
    margin-top: 6%;
    border: 1px solid #000;
    border-radius: 10px;
    padding-left: 2%;
}
.main5 h1{
    font-family: monospace;
    font-size: 75px;
    margin-left: 15%;
    margin-top: 15%;
}
.head {
    display: block;
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #FFFFCC;
}
header h1{
    margin: 10px 0 0 0;
    padding: 0 0 0px 10px;
    color: #3399FF;
    text-align: center;
}
#line-separator-vertical{
    width: 15%;
    float: left;
    border-right:1px solid #1F1E1E;
}  
#line-separator-vertical form{
    float: left;
    width: 100%;
}

<style type="text/css">
.errspan {
    float: right;
    margin-left: 114px;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
}
#idk2{
    float: left;
}
#idk2 h1{
    margin: 10px 0 0 0;
    font-size: 30px;
    padding: 0 0 0 20px;
    color: #ACACAC;
}
.line-separator{
    width: 180px;
    background:#ffffff;
    border-bottom:1px solid #000;
    margin-top: 30px;
    padding: 15px;
    float: left;
    
}
.sidebar ul{
    list-style-type: none;
}
.main-box{
}
.button {
    background-color: #FFFFCC;
    color: black;
    border: 2px solid #e7e7e7;
    border: none;
}
.button:hover {
    background-color: #e7e7e7;
    text-decoration: none;
}
.button2 {
    background-color: none;
    color: black;
    border: 2px solid #e7e7e7;
    border: none;
}
.button2:hover {
    background-color: #e7e7e7;
    text-decoration: none;
}
.align-page-button{
    margin-left: 68%;
}
