nav a {
	width: 20%;
	float: left;
	text-align: center;
	line-height: 50px;
	color: red;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #000;
    margin-right: 13%;
    font-size: 20px;
    display: block;
}
.nav{
	position: absolute;
	width: 70%;
    margin-left: 28%;
    margin-top: 2%;
}
.sidebar{
    margin-top: 2%;
	width: 15%;
	height: 800px;
	position: absolute;
    border: 1px solid #000;
    border-top: none;
}
.sidebar ul li a{
    text-decoration: none;
}
.main{
	position: absolute;
	height: 520px;
    width: 76%;
    float: right;
    margin-left: 20%;
    margin-top: 8%;
    border: 1px solid #000;
    border-radius: 10px;
}
.main h1{
    font-family: monospace;
    font-size: 75px;
    margin-left: 15%;
    margin-top: 15%;
}
.head {
    display: block;
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid #000;
}
header h1{
    margin: 10px 0 0 0;
    padding: 0 0 0px 10px;
    color: #ACACAC;
    text-align: center;
}
#line-separator-vertical{
    width: 15%;
    float: left;
    border-right:1px solid #1F1E1E;
}  
#line-separator-vertical form{
    float: left;
    width: 100%;
}
#read-search{
    margin: 12px 12px 12px 10px;
    padding: 8px;
    width: 20%;
    float: left;
}
#read-search input{
	padding:10px;
	height:10px;
    width: 200px;
	background:url('../img/search.png') right no-repeat;
	background-position: right 15px center;
	border-radius:10px;
    color: #FFFFFF;
}
<style type="text/css">
.errspan {
    float: right;
    margin-left: 114px;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
}
#idk2{
    float: left;
}
#idk2 h1{
    margin: 10px 0 0 0;
    font-size: 30px;
    padding: 0 0 0 20px;
    color: #ACACAC;
}
.line-separator{
    width: 180px;
    background:#ffffff;
    border-bottom:1px solid #000;
    margin-top: 30px;
    padding: 15px;
    float: left;
    
}
.sidebar ul{
    list-style-type: none;
}
.main-box{
}



