table {
	width: 623;
	table-layout: fixed;
}

td {
	padding: 7;
	border: 1px solid #00000a;
}

tr {
	vertical-align: top;
}


td:nth-child(1) {
	width: 99;
}

td:nth-child(2) {
	width: 52;
}

td:nth-child(3) {
	width: 322;
}

td:nth-child(4) {
	width: 93;
}	

#Picture1 {
	vertical-align:bottom; 
	width:424;
	height:89; 
	border:0; 
}